LoteriaNacionalCR/Service References/LoteriaWebService/LoteriaNacional2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2215/LoteriaNacional.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AccesoDatos" />
  <xs:element name="AgregarSorteo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AccesoDatos" minOccurs="0" name="sorteo" nillable="true" type="q1:sorteo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarSorteoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarSorteo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AccesoDatos" minOccurs="0" name="sorteo" nillable="true" type="q2:sorteo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarSorteoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarSorteo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AccesoDatos" minOccurs="0" name="sorteo" nillable="true" type="q3:sorteo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarSorteoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarPremio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AccesoDatos" minOccurs="0" name="premio" nillable="true" type="q4:premio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarPremioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarPremio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AccesoDatos" minOccurs="0" name="premio" nillable="true" type="q5:premio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarPremioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPremio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AccesoDatos" minOccurs="0" name="premio" nillable="true" type="q6:premio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPremioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>